{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
    <div class="text-indent">
        {% if user.is_authenticated %}
            <h3>Welcome, {{ user.username }}!</h3>
        {% else %}
            <h3>Hello, you're on the Python tracker website!</h3>
            <h3>Please, register or login.</h3>
        {% endif %}
        <hr/>
        <h1><strong>Python tracker</strong></h1>
        <h3>A simple application that helps to manage your tasks. Allows you to create and edit tasks, planners (to automatically create tasks by template), notifications (for reminding about unfinished tasks), tags and folders (for grouping tasks). You can also give the right to execute tasks to other users.</h3>
    </div>
{% endblock %}