{% extends 'base.html' %}

{% block title %}Add planner{% endblock %}

{% block content %}
    <div class="text-indent">
    <h2 class="sub-header">Add planner</h2>
        <form method="POST">
            <table class="table">
            {% csrf_token %} {{ form }}
            </table>
            <button type="submit" class="btn btn-primary bottom-buttons" >Add</button>
        </form>
    </div>
{% endblock %}