{% extends 'base.html' %}

{% block title %}Planners{% endblock %}

{% block content %}
    <div class="container-fluid">
        {% if planners %}
            <h2 class="sub-header">Planners list
                <div class='pull-right'>
                    <a href={% url 'tracker:planner_add' %} class='btn btn-info'>Add new</a>
                </div>
            </h2>
            <div class="table-responsive">
                <table class="table table-hover" data-toggle="table" data-sort-name="stargazers_count" data-sort-order="desc">
                    <thead>
                        <tr>
                            <th data-field="id_count" data-sortable="true" class="narrow-col">Id</th>
                            <th data-field="task_name" data-sortable="true">Task name</th>
                            <th>Last created time</th>
                            <th data-field="created_tasks_count" data-sortable="true">Created tasks count</th>
                            <th data-field="status" data-sortable="true">Status</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for planner in planners %}
                            <tr>
                                <td>{{ planner.id }}</td>
                                <td>{{ planner.task_template.name }}</td>
                                <td>
                                    {% if planner.last_created_time < planner.start_time %}
                                        None
                                    {% else %}
                                        {{ planner.last_created_time }}
                                    {% endif %}
                                </td>
                                <td>{{ planner.created_tasks_count }}</td>
                                <td>{{ planner.status }}</td>
                                <td>
                                    <a href={% url 'tracker:planner_show' planner_id=planner.id %} class='btn btn-info'>
                                        <span class="glyphicon glyphicon-eye-open"></span>
                                    </a>
                                    {% if planner.status != "FINISHED" %}
                                        <a href={% url 'tracker:planner_edit' planner_id=planner.id %} class='btn btn-default'>
                                            <span class="glyphicon glyphicon-pencil"></span>
                                        </a>
                                    {% endif %}
                                    <form style='display: inline-block;' action={% url 'tracker:planner_delete' planner_id=planner.id %} method='post'>
                                        {% csrf_token %}
                                        <button type='submit' class='btn btn-danger' onclick="return confirm('Do you really want to delete this planner?')">
                                            <span class="glyphicon glyphicon-trash"></span>
                                        </button>
                                    </form>
                                </td>
                            <tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% else %}
            <h2 class="sub-header">No planners
                <div class='pull-right'>
                    <a href={% url 'tracker:planner_add' %} class='btn btn-info'>Add new</a>
                </div>
            </h2>
        {% endif %}
    </div>
{% endblock %}