{% extends 'base.html' %}

{% block title %}Planner details{% endblock %}

{% block content %}
    <div class="container-fluid">
        <h2 class="sub-header">Planner details</h2>
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th  colspan="2" class="col-sm-1">Field</th>
                        <th>Value</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="2">Id</td>
                        <td>{{ planner.id }}</td>
                    </tr>
                    <tr>
                        <td colspan="2">Interval type</td>
                        <td>{{ planner.interval_type }}</td>
                    </tr>
                    <tr>
                        <td colspan="2">Interval count</td>
                        <td>{{ planner.interval_count }}</td>
                    </tr>
                    <tr>
                        <td colspan="2">Start time</td>
                        <td>{{ planner.start_time }}</td>
                    </tr>
                    <tr>
                        <td colspan="2">End time</td>
                        <td>{{ planner.end_time }}</td>
                    </tr>
                    <tr>
                        <td colspan="2">Last created time</td>
                        <td>
                            {% if planner.last_created_time < planner.start_time %}
                                None
                            {% else %}
                                {{ planner.last_created_time }}
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">Created tasks count</td>
                        <td>{{ planner.created_tasks_count }}</td>
                    </tr>
                    <tr>
                        <td colspan="2">Total tasks count</td>
                        <td>{{ planner.total_tasks_count }}</td>
                    </tr>
                    <tr>
                        <td rowspan="7">Task template</td>
                        <td class="col-sm-1">Name</td>
                        <td>{{ planner.task_template.name }}</td>
                    <tr>
                    </tr>
                        <td class="col-sm-1">Start time</td>
                        <td>{{ planner.task_template.start_time }}</td>
                    </tr>
                    </tr>
                        <td class="col-sm-1">End time</td>
                        <td>{{ planner.task_template.end_time }}</td>
                    </tr>
                    </tr>
                        <td class="col-sm-1">Description</td>
                        <td>{{ planner.task_template.description|default:"None" }}</td>
                    </tr>
                    </tr>
                        <td class="col-sm-1">Priority</td>
                        <td>{{ planner.task_template.priority }}</td>
                    </tr>
                    </tr>
                        <td class="col-sm-1">Folder id</td>
                        <td>{{ planner.task_template.folder_id }}</td>
                    </tr>
                    <tr>
                        <td colspan="2">Created tasks (not deleted)</td>
                        <td>
                            {% if planner.created_tasks %}
                                {% for task, folder in task_folder_list %}
                                    <div>
                                        <a href={% url 'tracker:task_show' folder=folder task_id=task.id %}>
                                            Id: {{ task.id }}&emsp;Start time: {{ task.start_time }}
                                        </a>
                                    </div>
                                {% endfor %}
                            {% else %}
                                No tasks
                            {% endif %}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div>
            <div class="pull-left bottom-buttons">
                {% if planner.status != "FINISHED" %}
                    <a href={% url 'tracker:planner_edit' planner_id=planner.id %} class='btn btn-default'>Edit</a>
                {% endif %}
            </div>
            <div class="pull-right">
                <form style='display: inline-block;' action={% url 'tracker:planner_delete' planner_id=planner.id %} method='post'>
                    {% csrf_token %}
                    <button type='submit' class='btn btn-danger' onclick="return confirm('Do you really want to delete this planner?')">Delete</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}