<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, minimum-scale=1.0 minimal-ui"/>
        <meta name="description" content=""/>
        <meta name="author" content=""/>

        <title>{% block title %}Python tracker{% endblock %}</title>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.0/bootstrap-table.min.js"></script>
        <script type="text/javascript" src="//code.jquery.com/jquery-2.1.1.js"></script>
        <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Spectral" rel="stylesheet"> 
        <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
        <link rel="stylesheet" href="{% static 'base.css' %}" />

        {% block head %}{% endblock %}
    </head>
    <body>
        <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href={% url 'tracker:home' %}>Python tracker</a>
                </div>
                <div class="navbar-collapse collapse">
                    {% if user.is_authenticated %}
                        <ul class="nav navbar-nav">
                            <li><a href={% url 'tracker:task_list' folder='without' %}>Tasks</a></li>
                            <li><a href={% url 'tracker:planner_list' %}>Planners</a></li>
                            <li><a href={% url 'tracker:task_search' %}>Search</a></li>    
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                            {% if user.is_authenticated %}
                                <a href="" class="link-disabled"><span class="glyphicon glyphicon-user"></span> {{ user.username }}</a>
                            {% endif %}
                            </li>
                            <li><a href={% url 'tracker:logout' %}>Logout</a></li>
                        </ul>
                    {% else %}
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href={% url 'tracker:login' %}>Login</a></li>
                            <li><a href={% url 'tracker:signup' %}>Register</a></li>
                        </ul>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="container">
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-info alert-size {{ message.tags }}">
                        <button type="button" class="close" data-dismiss="alert">×</button>
                        <center>{{ message }}</center>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
        {% block content %}{% endblock %}
    </body>
</html>