{% extends 'base.html' %}

{% block title %}Tag details{% endblock %}

{% block content %}
    <div class="container-fluid">
        <h2 class="sub-header">Tag details</h2>
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th class="col-sm-2">Field</th>
                        <th>Value</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Id</td>
                        <td>{{ tag.id }}</td>
                    </tr>
                    <tr>
                        <td>Name</td>
                        <td>{{ tag.name }}</td>
                    </tr>
                    <tr>
                        <td>Tasks with tag</td>
                        <td>
                            {% if tag.tasks %}
                                {% for task, folder in task_folder_list %}
                                    <div>
                                        <a href={% url 'tracker:task_show' folder=folder task_id=task.id %}>
                                            Id: {{ task.id }}&emsp;Name: {{ task.name }}
                                        </a>
                                    </div>
                                {% endfor %}
                            {% else %}
                                No tasks
                            {% endif %}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div>
            <div class="pull-left bottom-buttons">
                <a href={% url 'tracker:tag_edit' tag_id=tag.id %} class='btn btn-default'>Edit</a>
            </div>
            <div class="pull-right">
                <form style='display: inline-block;' action={% url 'tracker:tag_delete' tag_id=tag.id %} method='post'>
                    {% csrf_token %}
                    <button type='submit' class='btn btn-danger' onclick="return confirm('Do you really want to delete this tag from all tasks?')">Delete</button>
                </form>
            </div>
        </div>
    </div>
    <br><br>
{% endblock %}