{% extends 'base.html' %}

{% block title %}Tasks{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 col-md-2 sidebar">
                <ul class="nav nav-sidebar">
                    <li><a href={% url 'tracker:task_list' folder='without' %}>Without folder</a></li>
                    <li><a href={% url 'tracker:task_list' folder='archive' %}>Archive</a></li>
                    <li><a href={% url 'tracker:task_list' folder='executor' %}>Executors tasks</a></li>
                </ul>
                <hr>
                <ul class="nav nav-sidebar">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Folders:</th>
                                <th>
                                    <div class='col-md-2 pull-right'>
                                        <a href={% url 'tracker:folder_add' %} class='top-menu'><span class="glyphicon glyphicon-plus"></a>
                                    </div>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for folder in folders %}
                                <tr>
                                    <td>
                                        <a href={% url 'tracker:task_list' folder=folder.id %}>{{ folder.name }}</a>
                                    </td>
                                    <td>
                                        <div class='pull-right'>
                                            <a href={% url 'tracker:folder_edit' folder_id=folder.id %} class="top-menu">
                                                <span class="glyphicon glyphicon-pencil"></span>
                                            </a>
                                            <a type='submit' href={% url 'tracker:folder_delete' folder_id=folder.id %} class='top-menu link-danger' onclick="return confirm('Do you really want to delete this folder?')">
                                                <span class="glyphicon glyphicon-trash"></span>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </ul>
            </div>
            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                {% if tasks %}
                    <h2 class="sub-header">Tasks list
                        {% if folder != 'archive' and folder != 'executor' %}
                            <div class='pull-right'>
                                <a href={% url 'tracker:task_add' folder=folder %} class='btn btn-info'>Add new</a>
                            </div>
                        {% endif %}
                    </h2>
                    <div class="table-responsive">
                        <table class="table table-hover" data-toggle="table" data-sort-name="stargazers_count" data-sort-order="desc">
                            <thead>
                                <tr>
                                    <th data-field="id_count" data-sortable="true" class="narrow-col">Id&emsp;</th>
                                    <th data-field="name" data-sortable="true">Name</th>
                                    <th>Start time</th>
                                    <th>End time</th>
                                    <th data-field="priority" data-sortable="true">Priority&emsp;</th>
                                    <th data-field="status" data-sortable="true">Status</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for task in tasks %}
                                    <tr>
                                        <td class="narrow-col">{{ task.id }}</td>
                                        <td>{{ task.name }}</td>
                                        <td>{{ task.start_time }}</td>
                                        <td>{{ task.end_time }}</td>
                                        <td class="narrow-col">{{ task.priority }}</td>
                                        <td>{{ task.status }}</td>
                                        <td>
                                            <a href={% url 'tracker:task_show' folder=folder task_id=task.id %} class='btn btn-info'>
                                                <span class="glyphicon glyphicon-eye-open"></span>
                                            </a>
                                            {% if task.status.name != 'FAILED' and task.status.name != 'DONE' and folder != 'executor' %}
                                                <a href={% url 'tracker:task_edit' folder=folder task_id=task.id %} class='btn btn-default'>
                                                    <span class="glyphicon glyphicon-pencil"></span>
                                                </a>
                                            {% endif %}
                                            {% if task.status.name == 'IN_PROGRESS' %}
                                                <form style='display: inline-block;' action={% url 'tracker:task_complete' folder=folder task_id=task.id %} method='post'>
                                                    {% csrf_token %}
                                                    <button type='submit' class='btn btn-success'>
                                                        <span class="glyphicon glyphicon-ok"></span>
                                                    </button>
                                                </form>
                                            {% endif %}
                                            {% if folder != 'executor' %}
                                                <form style='display: inline-block;' action={% url 'tracker:task_delete' folder=folder task_id=task.id %} method='post'>
                                                    {% csrf_token %}
                                                    <button type='submit' class='btn btn-danger' onclick="return confirm('Do you really want to delete this task?')">
                                                        <span class="glyphicon glyphicon-trash"></span>
                                                    </button>
                                                </form>
                                            {% endif %}
                                        </td>
                                    <tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% else %}
                    <h2 class="sub-header">No tasks in this location
                        {% if folder != 'archive' and folder != 'executor' %}
                            <div class='pull-right'>
                                <a href={% url 'tracker:task_add' folder=folder %} class='btn btn-info'>Add new</a>
                            </div>
                        {% endif %}
                    </h2>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}