{% extends 'base.html' %}

{% block title %}Tasks{% endblock %}

{% block content %}
    <div class="container-fluid">
        {% if task_folder_list %}
            <h2 class="sub-header">Task search result</h2>
            <div class="table-responsive">
                <table class="table table-striped" data-toggle="table" data-sort-name="stargazers_count" data-sort-order="desc">
                    <thead>
                        <tr>
                            <th data-field="id_count" data-sortable="true" class="narrow-col">Id</th>
                            <th data-field="name" data-sortable="true">Name</th>
                            <th>Start time</th>
                            <th>End time</th>
                            <th data-field="priority" data-sortable="true">Priority</th>
                            <th data-field="status" data-sortable="true">Status</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for task, folder in task_folder_list %}
                            <tr>
                                <td>{{ task.id }}</td>
                                <td>{{ task.name }}</td>
                                <td>{{ task.start_time }}</td>
                                <td>{{ task.end_time }}</td>
                                <td>{{ task.priority }}</td>
                                <td>{{ task.status }}</td>
                                <td>
                                    {% if folder != 'executor' %}
                                        <a href={% url 'tracker:task_show' folder=folder task_id=task.id %} class='btn btn-info'>
                                            <span class="glyphicon glyphicon-eye-open"></span>
                                        </a>
                                    {% endif %}
                                    {% if task.status.name != "FAILED" and task.status.name != "DONE" and folder != 'executor' %}
                                        <a href={% url 'tracker:task_edit' folder=folder task_id=task.id %} class='btn btn-default'>
                                            <span class="glyphicon glyphicon-pencil"></span>
                                        </a>
                                    {% endif %}
                                    {% if task.status.name == "IN_PROGRESS" %}
                                        <form style='display: inline-block;' action={% url 'tracker:task_complete' folder=folder task_id=task.id %} method='post'>
                                            {% csrf_token %}
                                            <button type='submit' class='btn btn-success'>
                                                <span class="glyphicon glyphicon-ok"></span>
                                            </button>
                                        </form>
                                    {% endif %}
                                    {% if folder != 'executor' %}
                                        <form style='display: inline-block;' action={% url 'tracker:task_delete' folder=folder task_id=task.id %} method='post'>
                                            {% csrf_token %}
                                            <button type='submit' class='btn btn-danger' onclick="return confirm('Do you really want to delete this task?')">
                                                <span class="glyphicon glyphicon-trash"></span>
                                            </button>
                                        </form>
                                    {% endif %}
                                </td>
                            <tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% else %}
            <h2 class="sub-header">No corresponding tasks</h2>
        {% endif %}
    </div>
{% endblock %}