{% extends 'base.html' %}

{% block title %}Task details{% endblock %}

{% block content %}
    <div class="container-fluid">
        <h2 class="sub-header">Task details</h2>
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th class="col-sm-2">Field</th>
                        <th>Value</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Id</td>
                        <td>{{ task.id }}</td>
                    </tr>
                    <tr>
                        <td>Name</td>
                        <td>{{ task.name }}</td>
                    </tr>
                    <tr>
                        <td>Author</td>
                        <td>{{ task.user }}</td>
                    </tr>
                    <tr>
                        <td>Parent task (id)</td>
                        <td>
                            {% if task.parent_task_id %}
                                <a href={% url 'tracker:task_show' folder=folder task_id=task.parent_task_id %}>
                                    {{ task.parent_task_id }}
                                </a>
                            {% else %}
                                None
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td>Start time</td>
                        <td>{{ task.start_time }}</td>
                    </tr>
                    <tr>
                        <td>End time</td>
                        <td>{{ task.end_time }}</td>
                    </tr>
                    <tr>
                        <td>Priority</td>
                        <td>{{ task.priority }}</td>
                    </tr>
                    <tr>
                        <td>Status</td>
                        <td>{{ task.status }}</td>
                    </tr>
                    <tr>
                        <td>Description</td>
                        <td>{{ task.description|default:"None" }}</td>
                    </tr>
                    <tr>
                        <td>Created by planner (id)</td>
                        <td>
                            {% if task.planner_id %}
                                <a href={% url 'tracker:planner_show' planner_id=task.planner_id %}>
                                    {{ task.planner_id }}
                                </a>
                            {% else %}
                                None
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td>Notifications
                            {% if folder != 'archive' and folder != 'executor' %}
                                <div class='col-md-2 pull-right'>
                                    <a href={% url 'tracker:notification_add' folder=folder task_id=task.id %} class='top-menu'>
                                        <span class="glyphicon glyphicon-plus">
                                    </a>
                                </div>
                            {% endif %}
                        </td>
                        <td>
                            {% if task.notifications %}
                                {% for notification in task.notifications %}
                                    <div>{{ notification.date }} 
                                        {% if notification.shown %}
                                            (shown)
                                        {% else %}
                                            (not shown)
                                        {% endif %}
                                        {% if folder != 'archive' and folder != 'executor' %}
                                            <a type='submit' href={% url 'tracker:notification_delete' folder=folder task_id=task.id notification_id=notification.id %} class='top-menu' onclick="return confirm('Do you really want to delete this notification?')">
                                                <span class="glyphicon glyphicon-remove">
                                            </a>
                                        {% endif %}
                                    </div>
                                {% endfor %}
                            {% else %}
                                No notifications
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td>Executors
                            {% if folder != 'archive' and folder != 'executor' %}
                                <div class='col-md-2 pull-right'>
                                    <a href={% url 'tracker:executor_add' folder=folder task_id=task.id %} class='top-menu'>
                                        <span class="glyphicon glyphicon-plus"></span>
                                    </a>
                                </div>
                            {% endif %}
                        </td>
                        <td>
                            {% if task.executors %}
                                {% for executor in task.executors %}
                                    <span class="label label-info big-text">
                                        {{ executor.user }}
                                        {% if folder != 'archive' and folder != 'executor' %}
                                            <a type='submit' href={% url 'tracker:executor_delete' folder=folder task_id=task.id executor_id=executor.id %} class='top-menu' onclick="return confirm('Do you really want to delete this executor?')">
                                                <span class="glyphicon glyphicon-remove"></span>
                                            </a>
                                        {% endif %}
                                    </span>
                                {% endfor %}
                            {% else %}
                                No executors
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td>Tags
                            {% if folder != 'archive' and folder != 'executor' %}
                                <div class='col-md-2 pull-right'>
                                    <a href={% url 'tracker:tag_add' folder=folder task_id=task.id %} class='top-menu'>
                                        <span class="glyphicon glyphicon-plus"></span>
                                    </a>
                                </div>
                            {% endif %}
                        </td>
                        <td>
                            {% if task.tags %}
                                {% for tag in task.tags %}
                                    <label class="label label-info big-text">
                                        {% if folder != 'archive' and folder != 'executor' %}
                                            <a href={% url 'tracker:tag_show' tag_id=tag.id %}>{{ tag.name }}</a>
                                            <a type='submit' href={% url 'tracker:task_tag_delete' folder=folder task_id=task.id tag_id=tag.id %} class='top-menu' onclick="return confirm('Do you really want to delete this tag?')">
                                                <span class="glyphicon glyphicon-remove">
                                            </a>
                                        {% else %}
                                            {{ tag.name }}
                                        {% endif %}
                                    </label>
                                {% endfor %}
                            {% else %}
                                No tags
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td>Subtasks count</td>
                        <td>{{ task.subtasks|length }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="bottom-buttons">
            <div class="pull-left">
                {% if task.status.name != "FAILED" and task.status.name != "DONE" and folder != 'executor' %}
                    <a href={% url 'tracker:task_edit' folder=folder task_id=task.id %} class='btn btn-default'>Edit</a>
                {% endif %}
            </div>
            <div class="pull-right">
                {% if folder != 'executor' %}
                    <form style='display: inline-block;' action={% url 'tracker:task_delete' folder=folder task_id=task.id %} method='post'>
                        {% csrf_token %}
                        <button type='submit' class='btn btn-danger' onclick="return confirm('Do you really want to delete this task?')">Delete</button>
                    </form>
                {% endif %}
            </div>
        </div>
        <br>
        <div>
            {% if task.subtasks %}
                <h2 class="sub-header">Subtasks list
                    {% if folder != 'archive' and folder != 'executor' %}
                        <div class='pull-right'>
                            <a href={% url 'tracker:subtask_attach' folder=folder task_id=task.id %} class='btn btn-info'>Attach new</a>
                        </div>
                    {% endif %}
                </h2>
                <div class="table-responsive">
                    <table class="table table-hover" data-toggle="table" data-sort-name="stargazers_count" data-sort-order="desc">
                        <thead>
                            <tr>
                                <th data-field="id_count" data-sortable="true" class="narrow-col">Id</th>
                                <th data-field="name" data-sortable="true">Name</th>
                                <th>Start time</th>
                                <th>End time</th>
                                <th data-field="priority" data-sortable="true">Priority</th>
                                <th data-field="status" data-sortable="true">Status</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for subtask in task.subtasks %}
                                <tr>
                                    <td>{{ subtask.id }}</td>
                                    <td>{{ subtask.name }}</td>
                                    <td>{{ subtask.start_time }}</td>
                                    <td>{{ subtask.end_time }}</td>
                                    <td>{{ subtask.priority }}</td>
                                    <td>{{ subtask.status }}</td>
                                    <td>
                                        <a href={% url 'tracker:task_show' folder=folder task_id=subtask.id %} class='btn btn-info'>
                                            <span class="glyphicon glyphicon-eye-open"></span>
                                        </a>
                                        {% if subtask.status.name != 'FAILED' and subtask.status.name != 'DONE' %}
                                            <a href={% url 'tracker:task_edit' folder=folder task_id=subtask.id %} class='btn btn-default'>
                                                <span class="glyphicon glyphicon-pencil"></span>
                                            </a>
                                        {% endif %}
                                        {% if subtask.status.name == 'IN_PROGRESS' %}
                                            <form style='display: inline-block;' action={% url 'tracker:task_complete' folder=folder task_id=subtask.id %} method='post'>
                                                {% csrf_token %}
                                                <button type='submit' class='btn btn-success'>
                                                    <span class="glyphicon glyphicon-ok"></span>
                                                </button>
                                            </form>
                                        {% endif %}
                                        {% if folder != 'archive' %}
                                            <form style='display: inline-block;' action={% url 'tracker:subtask_detach' folder=folder task_id=task.id subtask_id=subtask.id %} method='post'>
                                                {% csrf_token %}
                                                <button type='submit' class='btn btn-danger' onclick="return confirm('Do you really want to detach this task?')">
                                                    <span class="glyphicon glyphicon-minus"></span>
                                                </button>
                                            </form>
                                        {% endif %}
                                        {% if folder != 'executor' %}
                                            <form style='display: inline-block;' action={% url 'tracker:task_delete' folder=folder task_id=subtask.id %} method='post'>
                                                {% csrf_token %}
                                                <button type='submit' class='btn btn-danger' onclick="return confirm('Do you really want to delete this task?')">
                                                    <span class="glyphicon glyphicon-trash"></span>
                                                </button>
                                            </form>
                                        {% endif %}
                                    </td>
                                <tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% elif folder != 'archive' and folder != 'executor' %}
                <h2 class="sub-header">No subtasks
                    <div class='pull-right'>
                        <a href={% url 'tracker:subtask_attach' folder=folder task_id=task.id %} class='btn btn-info'>Attach new</a>
                    </div>
                </h2>
            {% endif %}
        </div>
    </div>
{% endblock %}