{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
    <div class='container'>
        <form class="form-signin" method="POST">
            {% csrf_token %}
            <h2>Tracker login</h2>
            {% for error in form.non_field_errors %}
                <div class="form-group has-errors text-danger small">
                    {{error}}
                </div>
            {% endfor %}
            <input type="text" name="username" class="form-control" placeholder="Username">
            <br>
            <input type="password" name="password" class="form-control" placeholder="Password">
            <hr>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
        </form>
    </div>
{% endblock %}