{% extends 'base.html' %}

{% block title %}Logout{% endblock %}

{% block content %}
    <div class="text-indent">
        <h3>You have successfully logged out.
        <a href={% url 'tracker:home' %}>Home</a></h3>
    </div>
{% endblock %}